{% extends 'navbase.html' %}
{% load static %}
{% block title %}
<title>CD</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card" style="width:30rem;box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);">
            <img src="{% static 'images/stock_four.jpg' %}" class="card-img-top" alt="happy">
            <div class="card-header text-center" style="font-size:1.5rem;">
                PACE Certificate of Deposit
            </div>
            <div class="card-body text-left">
                <ul>
                    <li>Minimum Deposit:</li>
                    <li>Item</li>
                    <li>Item</li>
                    <li>Item</li>
                    <li>Item</li>
                </ul>
            </div>
            <div class="card-footer text-center">
                <p>
                    Disclaimer: To open an account, documents must be submitted and approved first.
                    <a href='/upload/'>Submit Now</a>
                </p>
                <a href='/cd/open/' class='btn btn-success' style='font-size:1.25rem'>Open account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}