{% extends 'navbase.html' %}
{% block title %}
<title>Products</title>
{% endblock %}

{% block content %}
<div class='container'>
    <div class="row justify-content-center mt-5">
        <p style="font-size:2.5rem;">Products</p>
    </div>
    <div class="row justify-content-center mt-2" style="font-size:1.5rem;">
        Try our new lightning-fast account opening system!
    </div>
    <div class="row justify-content-center" style="margin-top:5rem;">
        <div class="col">
            <div class="card text-center" style="width: 20rem;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);">
                <div class="card-header" style="font-size:1.5rem;">
                    Savings
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-size:18px">Quick description of the product, perhaps an eye-catching number figure</p>
                    <a href="\savings\" class="btn btn-outline-success" style="font-size:1.25rem;">Start Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 20rem;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);">
                <div class="card-header" style="font-size:1.5rem;">
                    Checking
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-size:18px">Quick description of the product, perhaps an eye-catching number figure</p>
                    <a href="\checking\" class="btn btn-outline-success" style="font-size:1.25rem;">Start Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 20rem;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);">
                <div class="card-header" style="font-size:1.5rem;">
                    Money Market
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-size:18px">Quick description of the product, perhaps an eye-catching number figure</p>
                    <a href="\moneymarket\" class="btn btn-outline-success" style="font-size:1.25rem;">Start Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top:3rem;">
        <div class="col">
            <div class="card text-center" style="width:20rem;
            margin-left:10rem;box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);">
                <div class="card-header" style="font-size:1.5rem;">
                    CD
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-size:18px">Quick description of the product, perhaps an eye-catching number figure</p>
                    <a href="\cd\" class="btn btn-outline-success" style="font-size:1.25rem;">Start Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width:20rem;
            margin-right:10rem;box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);">
                <div class="card-header" style="font-size:1.5rem;">
                    IRA CD
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-size:18px">Quick description of the product, perhaps an eye-catching number figure</p>
                    <a href="\iracd\" class="btn btn-outline-success" style="font-size:1.25rem;">Start Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}