{% extends 'navbase.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Upload</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3 mt-5 justify-content-center">
        <div class="card" style="width:30rem;">
            <div class="card-body">
                <p style="margin-bottom:2rem;font-size:1.5rem">
                    Please only upload PNG, PDF, or JPEG
                </p>
                <p style="margin-bottom:0;">Please upload the following:</p>
                <ul>
                    <li>Driver's License</li>
                    <li>Proof of Current Address (utility bill, mortgage statement, signed lease agreement, etc)</li>
                </ul>
                <form method="post" enctype="multipart/form-data" action="{{ request.path }}">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}